@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-roboto: 'Roboto', sans-serif;

    --color-black-100: #0D0D0D;
    --color-black-200: #141414;

    --color-gray-100: #222222;
    --color-gray-200: #292929;
    --color-gray-300: #565656;

    --color-green-100: #0DB063;

    --color-pink-100: #E80352;
    --color-pink-200: #FE5487;
    --color-pink-300: #FD7988;
    --color-pink-400: #FE8F8E;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

.text-gradient {
    background: linear-gradient(115deg, #FE8F8E, #FD7988, #FE5487);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

div {
    cursor: default;
    user-select: none;
}

.text-gradient {
    background: linear-gradient(to right, #fe5487, #fe9776);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* Custom scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #141414;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #292929;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fe5487;
}

/* For Firefox */
.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #292929 #141414;
}

/* For mobile devices */
@media (max-width: 768px) {
    .scrollbar::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #E80352;
    }

    &::-webkit-scrollbar-thumb:hover {
        cursor: pointer;
    }
}

.ql-toolbar {
    box-sizing: border-box;
    border: 2px solid #E80352 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background: #FFFFFF !important;
}
